.adCardContainer {
  min-width: 15vw;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;

  overflow: hidden;
}

.adCardContainer h3 {
  margin: 0 0 6px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.adCardContainer img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.adCardBody {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.adCardText {
  display: flex;
  flex-direction: column;
}

.adCardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.adCardTags {
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  justify-content: space-evenly;
  color: lightblue;
  font-style: italic;
}

.adCardContainer a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

.adCardContainer a:has(:hover, :focus) {
  outline: 1px dotted #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
}

.adCardContainer a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.adCardContainer:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.category {
  margin: 0 0 6px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
}

.cardPrice {
  font-family: "Bebas Neue", cursive;
  color: blue;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnDetails {
  z-index: 1;
  margin: 10px 0;
  padding: 6px;
  background-color: green;
  border-radius: 10px;
  color: white;
}

.btnDelete {
  z-index: 1;
  margin: 10px 0;
  padding: 6px;
  background-color: red;
  border-radius: 10px;
  color: white;
}

.btnPatch {
  z-index: 1;
  margin: 10px 0;
  padding: 6px;
  background-color: orange;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
}
