* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
#__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

h1 {
  margin: 0;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: #ffa41b;
}

.categories-navigation {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 16px 10px 6px;
  white-space: nowrap;
  overflow-x: scroll;
}

.category-navigation-link {
  text-decoration: unset;
  color: inherit;
}

.button {
  min-width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffa41b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ffa41b;
  background-color: white;
  cursor: pointer;
}

.logo {
  border: none;
}

.button-primary {
  background-color: #ffa41b;
  color: white;
}

.text-field-with-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.main-search-field {
  width: 100%;
  min-width: 120px;
  max-width: 360px;
  flex-grow: 1;
}

.text-field {
  height: 40px;
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
}

.link-button {
  text-decoration: none;
}

.desktop-long-label {
  display: none;
}

.main {
  display: flex;

  flex-direction: row;
  margin: 130px auto 48px 6px;
}

.main-content {
  height: 100%;
  display: grid;

  place-items: center;
  max-width: 95vw;
  padding: 0 16px;
  margin: 0 auto 48px;
}

.main-content > h2 {
  margin-bottom: 20px;
}

.recent-ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4.5vw;
}
input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
}

.ad-card-container {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.ad-card-container a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

.ad-card-container h3 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

.figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.ad-card-container img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.ad-card-body {
  padding: 24px;
}

.ad-card-container a {
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

.ad-card-container a:focus {
  outline: 1px dotted #28666e;
}

.ad-card-container a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.ad-card-container:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ad-details-image-container {
  margin-inline-start: -24px;
  margin-inline-end: -24px;
}

.ad-details-image {
  width: 100%;
}

.ad-details {
  display: grid;
  gap: 24px;
}

.title {
  padding: 5vh;
}

.btn-submit {
  border-radius: 10px;
  background-color: #ffa41b;
  padding: 10px;
}

@media screen and (min-width: 720px) {
  .mobile-short-label {
    display: none;
  }
  .desktop-long-label {
    display: initial;
  }

  .categories-navigation {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  .ad-details-image-container {
    margin-inline-start: unset;
    margin-inline-end: unset;
  }

  .ad-details {
    grid-template-columns: 1fr 388px;
  }
}

.ad-details-info {
  display: grid;
  gap: 12px;
  align-content: baseline;
}

.ad-details-price {
  font-weight: bold;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  border: none;
}

.form-fields {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-field {
  margin: 4px;
}
